body {
    font-family: "Courier New", Courier, monospace;
    background-image: url('/Resource/img/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: 1px solid rgba(58, 140, 222, 0.7);
    background-color: #2e5d92c2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
}

.card-header {
    background-color: #144d8a9c;
    color: #ffffff;
}

.card-body input[type="text"],
.card-body input[type="password"]{
    border-color: #b8c2cc;
    font-family: "Courier New", Courier, monospace;
    color: #000;
}

.btn-primary {
    background-color: #004080;
    border-color: #004080;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #002b59;
    border-color: #002b59;
}

.btn-info {
    background-color: #629cd6;
    border-color: #629cd6;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #1e3a58;
    border-color: #1e3a58;
    color: #fff;
}

.custom-link.register-link {
    color: #ffffff;
}

.custom-link.register-link:hover {
    color: #f0f0f0;
}
.custom-link {
    color: #d9d9d9;
}

.custom-link:hover {
    text-decoration: none;
}

#show-password {
    margin-top: 10px;
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    color: #fff;
    transition: background-color 0.3s ease;
}

#show-password:hover {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}
