body {
    font-family: "Courier New", Courier, monospace;
    background-image: url('/Resource/img/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: 1px solid rgba(58, 140, 222, 0.7);
    background-color: #3572b8c2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card-header {
    background-color: #144d8a9c;
    color: #ffffff;
}

.card-body input[type="text"],
.card-body input[type="password"]{
    border-color: #ced4da;
    font-family: "Courier New", Courier, monospace;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.custom-link.register-link {
    color: #28a745;
}

.custom-link.register-link:hover {
    color: #218838;
}

.custom-link {
    color: #f5f5f5;
}

.custom-link:hover {
    text-decoration: none;
}

#show-password {
    margin-top: 10px;
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    transition: background-color 0.3s ease;
}

#show-password:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}
