body {
    font-family: 'Verdana', sans-serif;
    background: url('/Resource/img/fondo7.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h3 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(175, 239, 119);
    margin-bottom: 20px;
}

.container {
    color: #194b2f;
    background-color: #a5c593a7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: auto;
}

.table-container {
    overflow-x: auto;
}

.table-custom {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-custom th, .table-custom td {
    padding: 10px;
    text-align: left;
}

.table-custom th {
    background-color: #6c757d;
    color: #ffffff;
}

.table-custom td {
    background-color: #f8f9fa;
    color: #000000;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

.table-custom tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

#volverbtn {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background-color: #5ea247;
    border: 2px solid #5ea247;
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

#volverbtn:hover {
    background-color: #58a75f;
    border-color: #58a75f;
}

#volverbtn:active {
    background-color: #4f852f;
    border-color: #4f852f;
}

#searchCedula {
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:active {
    background-color: #004180;
    border-color: #004180;
}
