body {
    background-image: url('/Resource/img/fondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #8e8989b3;
    border-radius: 8px;
    box-shadow: 0 0 10px #3d383899;
}

.card-body input[type="text"],
.card-body input[type="password"] {
    border-color: #efc583bf;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: #eeaa5d;
}

h3 {
    font-size: 20px;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(216, 210, 180, 0.7);
    font-family: "Courier New", Courier, monospace;

}

.button-logup {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #eba66a;
    color: #212121;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-logup:hover {
    background-color: #e5cd65;
}

.button-exit {
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    color: #d8d2b4;
    font-family: "Courier New", Courier, monospace;
}
