<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>..:ELIMINAR USUARIO:..</title>

    <link rel="stylesheet" href="/Style/Style_Eliminar.css">
    <link rel="icon" href="/Resource/icons/image.png">

</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Eliminar Usuario</h3>
                        <form id="Delete-Form">
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="edtemail" placeholder="Ingrese su correo electrónico" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="edtpassword" placeholder="Ingrese su contraseña" required>
                            </div>
                            <button type="submit" id="deletebtn" class="btn btn-danger">Borrar Usuario</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/Controller/delete_user.js"></script>
</body>

</html>