<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Style/Style_Home.css">
    <link rel="icon" href="/Resource/img1.jpg">


    <title>INICIO</title>
</head>
<body>

    <div class="contenedor">

        <h1>Welcome</h1> <br>
        <button type="button" id="btnlogout">Login Out</button> <br>
        <br> <button type="button" id="btndelete">Delete User</button>


    </div>

    <script type="module" src="/Controller/home.js"></script>
    <script type="module" src="/Controller/delete_user.js"></script>

</body>
</html>
