<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Style/Style_Home.css">
    <link rel="icon" href="/Resource/img1.jpg">


    <title>INICIO</title>
</head>
<body>

    <div class="contenedor">

        <h1>Welcome</h1> <br>
        
        <button type="button" id="btnlogout">Login Out</button> <br>
        <input type="button" value="Eliminar Cuenta" id="btndelete" data-bs-toggle="modal" data-bs-target="#deleteModal"><br/><br/>
        
        <div class="modal" tabindex="-1" id="deleteModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Eliminar tu Cuenta</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="Delete-Form">
                    <div class="mb-3">
                      <label for="email" class="form-label">Correo Electrónico</label>
                      <input type="email" class="form-control" id="email" >
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Eliminar la Cuenta</button>
                  </form>
                </div>
              </div>
            </div>
          </div>    

    </div>

    <script type="module" src="/Controller/home.js"></script>
    <script type="module" src="/Controller/delete_user.js"></script>

</body>
</html>
