<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Style/Style_Usuarios.css">
    <link rel="icon" href="/Resource/icons/img1.jpg">


    <title>..:INICIO:..</title>
</head>
<body>

    <div class="contenedor">

        <h1>MENÚ USUARIO</h1> <br>
        <button type="button" id="passbtn">Recuperar contraseña</button> <br>
        <br> <button type="button" id="btndelete">Eliminar Usuario</button> <br>
        <br> <button type="button" id="btnlogout">Login Out</button> <br>


    </div>

    <script type="module" src="/Controller/Users.js"></script>

</body>
</html>